<% @cart.orderables.each do |orderable| %>
  <% product = orderable.product %>
 
  <p><b>Name</b>: <%= product.name %></br><b>Description</b>: <%= product.description %></br><b>unit price of </b><%= number_to_currency(product.price) %></br><b>Total:</b>
  <%= orderable.total %></p>

  <%= form_with(url: carts_add_path) do |f| %>
    <%= f.hidden_field :id, value: product.id %>
    <%= f.number_field :quantity,value: orderable.quantity, min: 0 %>
    <%= f.submit "Add to Cart" %>
  <% end %>
  <%= form_with(url: carts_remove_path) do |f| %>
    <%= f.hidden_field :id, value: orderable.id %>
    <%= f.submit "Remove from Cart" %>
  <% end %>
  
  <hr>
<% end%>